{% extends "network/layout.html" %}
{% load static %}


{% block body %}
    {% if user_profile == "Following Posts" %}
        <h1 class="alert">{{ user_profile }}</h1>
    {% elif user_profile.username %}
        <h1 class="alert">{{ user_profile.username }}'s Profile</h1>
        <h2>Followers: {{ user_profile.followings.count }}</h2>
        {% if user.is_authenticated and user_profile.id != user.id %}
            {% if following == True %}
                <a href="{% url 'follow' user_profile.id %}">Unfollow</a>
            {% else %}
                <a href="{% url 'follow' user_profile.id %}">Follow</a>
            {% endif %}
            
        {% endif %}
    {% else %}
        <h1 class="alert">All Posts</h1>
    {% endif %}


    <div id="newPost">
        <form>
            <label>New Post: </label>
            <textarea class="post_body" type="text" placeholder="New Post"></textarea>
            <input type="submit" class="btn btn-sm btn-outline-primary">
        </form>
    </div>

    {% for p in page %}
        <ul>
            <li class="post_item post_{{ p.id }}">
                
                    <a href="{% url 'index' p.author.id %}">{{ p.author }}</a> 
                    <div class="edit_button_{{ p.id }}">
                        <p>{{ p.body }}</div> <span class="timestamp">{{ p.timestamp }}</span></p>
                    <p class="like_counter_{{ p.id }}">Likes: {{ p.likes.count }}</p>

                    
                    {% for liked in p.likes.all %}
                        {% if liked.liker.id == user.id and p.author.id != user.id %}
                            <button class="like_button" data-post="{{ p.id }}">Unlike</button>
                        {% endif %} 
                    {% endfor %}

                    {% if p.author.id != user.id %}
                        <button class="like_button" data-post="{{ p.id }}">Like</button> 
                    {% endif %}
                    
                    {% if p.author.id == user.id %}
                        <button class="edit_button" data-post="{{ p.id }}">Edit</button>
                    {% endif %}
            </li>
        </ul>
        
    {% endfor %}

    <nav>
        <h1>{{ page.count }}</h1>
        <ul class="post_page">
            {% if page.has_previous %}

                <li class="post_item disabled">
                    <a class="page_link" href="?page={{ page.previous_page_number }}">Previous</a>
                </li>
            {% endif %}
                <li class="page_item active">
                    <span class="page_link">
                        {{ page.number }}
                    </span>
                </li>

            {% if page.has_next %}
                <li class="page_item">
                    <a class="page-link" href="?page={{ page.next_page_number }}">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>


    
{% endblock %}


{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}